body {
  font-family: Verdana, sans-serif;
  background-color: #99ADA0;
  }
  
header {
	text-align: center;
	font-size: 400%;
	color: white;
}
header h1 {
	margin: 1.25em auto 0;
}
header hr {
	color: white;
	width: 6em;
}
.m-two {
	-webkit-animation: anim1 1s ease-in 1s;
	animation: anim1 1s ease-in 1s;
	animation-fill-mode: both;
}
.m-one {
	-webkit-animation: anim1 1s ease-in 2s;
	animation: anim1 1s ease-in 2s;
	animation-fill-mode: both;
}

section {
	min-width: 80%;
	margin: 0 auto;
	text-align: center;
}
.zero {
	-webkit-animation: anim1 1s ease-in 3.5s;
	animation: anim1 1s ease-in 3.5s;
	animation-fill-mode: both;
}
section li {
	list-style: none;
	display: inline-block;
	margin: 0 2em 1em;
	padding: 0.5em 1em;
	border-radius: 1em;
	background-color: white;
	position: relative;
	left: -1.5em;
}
.one {
	-webkit-animation: anim1 1s ease-in 4.5s;
	animation: anim1 1s ease-in 4.5s;
	animation-fill-mode: both;
}
.two {
	-webkit-animation: anim1 1s ease-in 5.5s;
	animation: anim1 1s ease-in 5.5s;
	animation-fill-mode: both;
}
.three {
	-webkit-animation: anim1 1s ease-in 6.5s;
	animation: anim1 1s ease-in 6.5s;
	animation-fill-mode: both;
}

section.button { margin: 9em auto 5em }
section a {
	color: white;
	background-color: #7AA0DE;
	font-weight: bold;
	text-decoration: none;
	font-size: 150%;
	padding: 1em;
	border-radius: 1.5em;
	clear: both;
}
.four {
	-webkit-animation: anim1 1s ease-in 8.5s;
	animation: anim1 1s ease-in 8.5s;
	animation-fill-mode: both;
}
section a:hover {
	background-color: #BACBE8;
	border: 3px solid #7AA0DE;
	color: #3167BD;
}

@-webkit-keyframes anim1 {
	from { opacity: 0% }
	to   { opacity: 100% }
}

@keyframes anim1 {
	from { opacity: 0% }
	to   { opacity: 100% }
}
